@using Microsoft.AspNetCore.Mvc.Localization
@using PRAS.Models.ViewModels
@inject IViewLocalizer Localizer
@model PRAS.Models.ViewModels.NewListViewModel

<div class="container">
    <a asp-action="CreateOrEdit" asp-controller="Admin" class="btn btn-primary">@Localizer["AddNew"]</a>
    <div class="new-list">
        @foreach (var item in Model.News)
        {
            <div class="new-item">
                <div class="new-nav">
                    <a asp-action="CreateOrEdit" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-outline-primary">@Localizer["ModifyNew"]</a>
                    <a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-outline-danger">@Localizer["RemoveNew"]</a>
                </div>
                <div class="new-title-content">
                    <div class="new-image">
                        <img src="~/img/@item.ImagePath" height="140" width="200" />
                    </div>
                    <div class="new-text">
                        <a asp-action="GetNew" asp-controller="Home" asp-route-id="@item.Id">
                            <h4>@item.Name</h4>
                        </a>
                        <p>@item.Description</p>
                    </div>
                </div>                
            </div>
        }
    </div>
    <page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
</div>